// variables.scss

/***********************************************
                NOTES
light blue  #C7F7FF
med blue    #89C0C9
dark blue   #3a5E63
light brown #C9A689
dark brown  #7C593C
light grey  #d4d4d4
dark grey   #222

                DEFAULTS
***********************************************/

$colour-light-blue: #C7F7FF;
$colour-med-blue: #89c0c9;
$colour-dark-blue: #3a5e63;
$colour-light-brown: #C9A689;
$colour-dark-brown: #7c593c;
$colour-light-grey: #d4d4d4;
$colour-dark-grey: #222;
$colour-white: #ffffff;

// FONTS

$font-sans-serif: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;